<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name='TTUNION_verify' content='b846c3c2b85efabc496d2a2b8399cd62'>
	<meta name="sogou_site_verification" content="gI1bINaJcL"/>
	<meta name="360-site-verification" content="37ae9186443cc6e270d8a52943cd3c5a"/>
	<meta name="baidu_union_verify" content="99203948fbfbb64534dbe0f030cbe817">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="apple-touch-fullscreen" content="yes">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE;chrome=1">
	<meta name="format-detection" content="telephone=no">
	<meta name="keywords" content="一点车 -  让您多懂一点车,一点车，让您多懂一点车的常识，在这里，您会看到汽车相关的知识，汽车日常保养，汽车多用小知识，汽车简单维修以及清洗保养等等。">
	<meta name="description" content="一点车 -  让您多懂一点车,一点车，让您多懂一点车的常识，在这里，您会看到汽车相关的知识，汽车日常保养，汽车多用小知识，汽车简单维修以及清洗保养等等。。">
	<meta name="author" content="AUI, a-ui.com">
	<meta name="baidu-site-verification" content="ZVPGgtpUfW"/>
	<title>媒体开放平台注册协议-- 一点车 -  让您多懂一点车</title>
	<link rel="icon" type="image/x-icon" href="favicon.ico">
	<link href="iTunesArtwork@2x.png" sizes="114x114" rel="apple-touch-icon-precomposed">
	<link type="text/css" rel="stylesheet" href="admin/css/core.css">
	<link type="text/css" rel="stylesheet" href="admin/css/icon.css">
	<link type="text/css" rel="stylesheet" href="admin/css/home.css">


</head>
<body>

<!-- head YDC begin -->
	<header class="ydc-header">
		<div class="ydc-entered">
			<div class="ydc-header-content ydc-flex">
				<div class="ydc-column">
					<a href="index.html" class="ydc-column-ydc-logo">
						<img src="admin/images/icon/ydc-logo.png" title="" about="" alt="">
					</a>
				</div>
				<div class="ydc-column">
					<div class="ydc-column-user">
						<div class="ydc-user-photo">
							<a href="javascript:;">
								<img src="admin/images/icon/photo.png" title="" about="" alt="">
							</a>
						</div>
						<div class="ydc-user-info">
							<div class="ydc-user-info-name">
								<a href="javascript:;">一点车</a>
							</div>
							<div class="ydc-user-info-func ydc-flex">
								<span class="ydc-tag">新手期</span>
								<span class="ydc-mal"><i class="ydc-icon ydc-icon-mail fl"></i><em>12</em></span>
								<a href="javascript:;">退出</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
<!-- head YDC end -->

<!-- content YDC begin -->
	<section>
		<div class="ydc-content-slide ydc-body">
			<div class="ydc-page-content">
				<div class="ydc-page-head">
					<h3 style="color: #333">一点车点讯号媒体开放平台注册协议</h3>
					<h4>重要提示</h4>
					<p>欢迎使用一点车 车讯号媒体开放平台服务，请您仔细阅读以下全部内容（特别是粗体标注的内容）如您不同意《一点车 车讯号媒体开放平台注册协议》（以下简称“本协议”）任意内容的，请不要使用本服务。</p>
					<p>如您（未成年人应在监护人陪同下）选择使用并点击“同意”的，即表示已经与一点车达成协议，自愿接受本协议的所有内容。此后，您不得以未阅读本协议内容作任何形式的抗辩。本协议是《网易邮箱帐号服务条款》不可分割的组成部分，本协议未明确约定的，均依照《网易邮箱帐号服务条款》执行。一点车 车讯号媒体开放平台的所有权、经营管理权归一点车所有。一点车有权根据法律规范及运营的合理需要，不断修改和完善本协议。如您继续使用本服务，即意味着同意并自愿遵守修改后的服务协议。</p>
					<h4>一、定义：</h4>
					<p>1.1 您：指有效申请并经一点车审核同意后，在一点车 车讯号媒体开放平台发布作品的自然人、法人、其他组织。</p>
					<p>1.2 一点车 车讯号：指一点车所有的【自媒体内容聚合、管理和分发】的平台产品，旨在为用户提供【资讯、专栏、网络自媒体等内容】服务。</p>
					<p>1.3 一点车 车讯号媒体开放平台：作为一点车 车讯号的组成部分，供【著作权人或其合法授权人上传、发布、管理自媒体内容】的聚合平台。</p>
					<p>1.4 作品：指您在一点车 车讯号媒体开放平台所发布的文字、图片、音频、视频等内容。</p>
					<h4>二、您的权利和义务</h4>
					<p>2.1 您同意：按照一点车 车讯号媒体开放平台公布和提示的规则、流程进行注册操作。注册完成后，您应妥善保存有关帐号和密码，并对该帐号进行的所有活动和行为负法律责任。如因您自身过错（包括但不限于转让帐号、与他人共用、自己泄露等）或您所用计算机或其他终端产品感染病毒或木马，导致帐号密码泄漏、遗失或其他损失后果均由您独自承担。一点车有完全的权利判断是否同意发布或终止发布该作品，包括在不通知您的情况下，不同意发布作品，或对已经发布的作品进行删除、屏蔽等处理，由此产生的损失由内容提供商自行承担。【如您注册一点车 车讯号帐号后三个月内不登录该帐号，一点车有权回收该帐号，由此带来问题均由您自行承担。】</p>
					<p>2.2 您同意以下帐号注册规则：</p>
					<p>2.2.1 帐号注册资料包括但不限于您的帐号名称、头像、密码、注册或更新注册信息时输入的所有信息。您需要向一点车提供真实、合法、有效的主体资格证明（自然人需提供身份证、法人需提供营业执照或能证明其主体资格的其他文件）及一点车要求提供的其他证明文件。</p>
					<p>2.2.2 您在注册帐号时承诺遵守法律法规、社会主义制度、国家利益、公民合法权益、公共秩序、社会道德风尚和信息真实性等七条底线，不得在帐号注册资料中出现违法和不良信息，且用户保证其在注册和使用帐号时，不得有以下情形：</p>
					<p>（1）违反宪法或法律法规规定的；</p>
					<p>（2）危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的；</p>
					<p>（3）损害国家荣誉和利益的，损害公共利益的；</p>
					<p>（4）煽动民族仇恨、民族歧视，破坏民族团结的；</p>
					<p>（5）破坏国家宗教政策，宣扬邪教和封建迷信的；</p>
					<p>（6）散布谣言，扰乱社会秩序，破坏社会稳定的</p>
					<p>（7）散布淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪的；</p>
					<p>（8）侮辱或者诽谤他人，侵害他人合法权益的；</p>
					<p>（9）含有法律、行政法规禁止的其他内容的。</p>
					<p>2.2.3若您提供给一点车的帐号注册资料不准确，不真实，含有违法或不良信息的，一点车有权不予注册，并保留终止用户使用网易各项服务的权利。若您以虚假信息骗取帐号注册或帐号头像、个人简介等注册资料存在违法和不良信息的，一点车有权采取通知限期改正、暂停使用、注销登记等措施。对于冒用关联机构或社会名人注册帐号名称的，一点车有权注销该帐号，并向政府主管部门进行报告。</p>
					<p>2.2.4 根据相关法律、法规规定以及考虑到网易产品服务的重要性，您同意：</p>
					<p>（1）在注册帐号时提交有效身份信息进行实名认证；</p>
					<p>（2）提供及时、详尽及准确的账户注册资料；</p>
					<p>（3）不断更新注册资料，符合及时、详尽准确的要求，对注册时填写的身份证件信息不能更新。</p>
					<p>2.3 您明确知悉在任何时候，上传、发布或发表的作品不得含有任何破坏公序良俗、违反法律、法规、政策指令的内容。</p>
					<p>2.4 您保证：对在一点车 车讯号媒体开放平台发布的作品享有合法权益，是该作品的著作权人或已获得著作权人的合法授权，可以对该作品行使相关权利；一旦由于您发布的作品发生权利纠纷或侵犯了任何第三方的合法权益，责任由您本人承担，因此给一点车 车讯号或其关联公司等第三方造成损失的，您应负责全额赔偿。</p>
					<p>2.5 您保证：提供给一点车的所有信息、数据，包括但不限于其姓名（名称）、地址、链接、电子邮箱等相关资料真实、合法、准确；若有更新的，您应在三个工作日内通知一点车。如一点车发现不真实、不合法或不准确的，则有权暂停或终止向其提供本协议下服务,由此产生的一切法律责任由您自行承担。</p>
					<p>2.6 您完全理解并同意，一点车和一点车 车讯号媒体开放平台无须就您上传、发布或发表的任何作品支付稿酬或任何其他费用，您和一点车另行书面约定的除外。</p>
					<p>2.7 请您在任何情况下都不要私自使用一点车的任何商标、服务标记、商号、域名、网站名称或其他显著品牌特征等。</p>
					<p>三、权利和义务</p>
					<p>3.1 一点车有权对您发布的作品进行事先及\或事后的审核，但该审核仅以合理程度为限，一点车并不实际控制您或其作品，不对其审核结果承担任何法律责任，亦不对您作品的合法性、不侵权、完整性做出任何明示或暗示的担保、保证责任。</p>
					<p>3.2 一点车有权知悉您的身份信息、注册数据，如发现该等信息、数据中存在任何问题或怀疑，可要求您改正，或者直接做出删除、屏蔽等处理。</p>
					<p>3.3 一点车 车讯号媒体开放平台的开发、运营提供技术支持和信息存储的空间，并对该平台的开发和运营等过程中产生的所有信息等享有完整、全部权利，包括但不限于著作权、专利权、商标权、商业秘密及其他知识财产和其他权利。</p>
					<p>3.4 一点车 车讯号保留随时变更或终止一点车 车讯号媒体开放平台服务的权利，并无需对行使该权利向您承担责任。一点车 车讯号可通过网页公告、电子邮件、电话或信件传送等方式向您发出通知，该等通知在发送时即视为已送达收件人。</p>
					<p>3.5 一点车 车讯号对不可抗力导致的损失不承担责任。本服务条款所指不可抗力包括：天灾、法律法规或政府指令的变更，因网络服务特性而特有的原因，例如境内外基础电信运营商的故障、计算机或互联网相关技术缺陷、互联网覆盖范围限制、计算机病毒、黑客攻击等因素，及其他合法范围内的不能预见、不能避免并不能克服的客观情况。</p>
					<p>3.6 一点车 车讯号建议您自行对所发布作品进行额外的保存、备份，一点车 车讯号不对您作品的丢失、删除负责。【如果您停止使用本服务或服务被终止或取消，一点车 车讯号有权自主决定是否从服务器上永久地删除您的数据。服务停止、终止或取消后，一点车 车讯号没有义务向您返还任何数据。】</p>
					<h4>四、媒体开放平台的使用规则</h4>
					<p>（1）违反宪法或法律法规规定的；</p>
					<p>（2）危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的；</p>
					<p>（3）损害国家荣誉和利益的，损害公共利益的；</p>
					<p>（4）煽动民族仇恨、民族歧视，破坏民族团结的；</p>
					<p>（5）破坏国家宗教政策，宣扬邪教和封建迷信的；</p>
					<p>（6）散布谣言，扰乱社会秩序，破坏社会稳定的</p>
					<p>（7）散布淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪的；</p>
					<p>（8）侮辱或者诽谤他人，侵害他人合法权益的；</p>
					<p>（9）含有法律、行政法规禁止的其他内容的。</p>
					<p></p>
					<p></p>
					<p></p>
					<p></p>
					<p></p>
					<p></p>
					<p></p>
					<p></p>
					<p></p>
					<p></p>
					<p></p>
					<p></p>
					<p>标题含错别字；</p>
					<p>标题字数过长（标题不得超过30个字）</p>
					<p>标题不完整/不通顺；</p>
					<p>标题含特殊符号；例如：、、、□、、★、㊣、、、~\(≧≦)/~等等</p>
					<p>标题全部英文/外文、含繁体字；</p>
					<p>标题与内文无关，用词过于夸张，涉嫌标题党吸引流量；</p>
					<p>标题涉嫌恶俗；恶俗标题指含有辱骂性质的口头语，如他妈的（tm）、卧槽（我擦/我操/我艹）、傻逼（B）、尼玛、二逼（B）、日了狗、老子、劳资等。</p>
					<p>色情低俗／反动违法标题;</p>
					<h4>2、正文</h4>
					<p>全文繁体字、全文英文；</p>
					<p>全文/大段乱码、未分段或无标点；</p>
					<p>内容不完整或重复（文字/图片）；</p>
					<p>文内特殊符号过多；</p>
					<h4>3、广告</h4>
					<p>文章含有营销购买信息，广告的对象为单一的某产品或品牌，包含文末广告信息；</p>
					<p>推广微信公众号使用变体，包括但不限于：WX、微X，Wxin、威信、微~信~公~众~号等；</p>
					<p>发布内容含有购物链接、网盘资源下载链接等；</p>
					<p>于正文无关的其他推广；</p>
					<h4>4、 低质、抄袭</h4>
					<p>以图片为主体/图文夹杂的文章，3张以下（不含3张），内容不完整/不丰富；</p>
					<p>以文字为主体的文章，内容不完整/不丰富，一段内容/五行以下（不含五行）；</p>
					<p>全文内容以文字截图组成或者以一张长截图（图解内容除外）</p>
					<p>抄袭他人内容；</p>
					<h4>5、旧闻、虚假信息</h4>
					<p>发布过时的信息，包括但不限于（法律法规、国际政策、体育赛事、活动、天气预报、节目预告等）；</p>
					<p>与平台已有内容重复；</p>
					<h4>6、内容违反现行政策与法律法规</h4>
					<p>违反宪法基本原则的内容；</p>
					<p>危害国家安全、泄露国家机密，颠覆国家政权、破坏国家统一、损害国家荣誉和利益的内容；</p>
					<p>破坏国家宗教政策，宣扬邪教和封建迷信的内容；</p>
					<p>煽动民族仇恨、破坏民族团结内容；</p>
					<p>散布谣言、扰乱社会秩序、破坏社会稳定的内容；</p>
					<p>散布恐怖、色情、暴力、赌博或教唆犯罪的内容；</p>
					<p>侮辱或诽谤他人，侵害他人合法权益的内容；</p>
					<p>不符合社会主义核心价值观的内容；</p>
				</div>
				<div class="ydc-page-aut">
					<p>一点车<br>2018年5月19日</p>
				</div>
				<div class="ydc-right-banner">
					<div class="slideshow-container">
						<a href="https://xihazahuopu.taobao.com/" target="_blank" class="mySlides fade">
							<img src="admin/images/ad/ad1.jpg" style="width:100%">
						</a>
						<a href="https://weibo.com/525135676" target="_blank" class="mySlides fade">
							<img src="admin/images/ad/ad2.jpg" style="width:100%">
						</a>
						<a href="http://www.a-ui.cn/" target="_blank" class="mySlides fade">
							<img src="admin/images/ad/ad3.jpg" style="width:100%">
						</a>
					</div>
				</div>
			</div>
		</div>

	</section>
<!-- content YDC end -->

	<script type="text/javascript" src="admin/js/jquery.min.js"></script>
	<script type="text/javascript">
	    var slideIndex = 0;
	    showSlides();

	    function showSlides() {
	        var i;
	        var slides = document.getElementsByClassName("mySlides");
	        for (i = 0; i < slides.length; i++) {
	            slides[i].style.display = "none";
	        }
	        slideIndex++;
	        if (slideIndex> slides.length) {slideIndex = 1}
	        slides[slideIndex-1].style.display = "block";
	        setTimeout(showSlides, 3000); // 滚动时间
	    }
	</script>

	<script type="text/javascript">
	    $(function(){
	        $('.ydc-tabPanel ul li').click(function(){
	            $(this).addClass('hit').siblings().removeClass('hit');
	            $('.ydc-panes>div:eq('+$(this).index()+')').show().siblings().hide();
	        })
	    })
	</script>

</body>
</html>