<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name='TTUNION_verify' content='b846c3c2b85efabc496d2a2b8399cd62'>
	<meta name="sogou_site_verification" content="gI1bINaJcL"/>
	<meta name="360-site-verification" content="37ae9186443cc6e270d8a52943cd3c5a"/>
	<meta name="baidu_union_verify" content="99203948fbfbb64534dbe0f030cbe817">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="apple-touch-fullscreen" content="yes">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE;chrome=1">
	<meta name="format-detection" content="telephone=no">
	<meta name="keywords" content="一点车 -  让您多懂一点车,一点车，让您多懂一点车的常识，在这里，您会看到汽车相关的知识，汽车日常保养，汽车多用小知识，汽车简单维修以及清洗保养等等。">
	<meta name="description" content="一点车 -  让您多懂一点车,一点车，让您多懂一点车的常识，在这里，您会看到汽车相关的知识，汽车日常保养，汽车多用小知识，汽车简单维修以及清洗保养等等。。">
	<meta name="author" content="AUI, a-ui.com">
	<meta name="baidu-site-verification" content="ZVPGgtpUfW"/>
	<title> 客服中心 -- 一点车 -  让您多懂一点车</title>
	<link rel="icon" type="image/x-icon" href="favicon.ico">
	<link href="iTunesArtwork@2x.png" sizes="114x114" rel="apple-touch-icon-precomposed">
	<link type="text/css" rel="stylesheet" href="admin/css/core.css">
	<link type="text/css" rel="stylesheet" href="admin/css/icon.css">
	<link type="text/css" rel="stylesheet" href="admin/css/home.css">


</head>
<body>

<!-- head YDC begin -->
	<header class="ydc-header">
		<div class="ydc-entered">
			<div class="ydc-header-content ydc-flex">
				<div class="ydc-column">
					<a href="index.html" class="ydc-column-ydc-logo">
						<img src="admin/images/icon/ydc-logo.png" title="" about="" alt="">
					</a>
				</div>
				<div class="ydc-column">
					<div class="ydc-column-user">
						<div class="ydc-user-photo">
							<a href="javascript:;">
								<img src="admin/images/icon/photo.png" title="" about="" alt="">
							</a>
						</div>
						<div class="ydc-user-info">
							<div class="ydc-user-info-name">
								<a href="javascript:;">一点车</a>
							</div>
							<div class="ydc-user-info-func ydc-flex">
								<span class="ydc-tag">新手期</span>
								<span class="ydc-mal"><i class="ydc-icon ydc-icon-mail fl"></i><em>12</em></span>
								<a href="javascript:;">退出</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
<!-- head YDC end -->

<!-- content YDC begin -->
	<section>
		<div class="ydc-content-slide ydc-body">
			<div class="ydc-customer">
				<div class="ydc-tabPanel clearfix">
					<div class="ydc-customer-tab-title">
						<ul>
							<li class="hit">热门问题</li>
							<li>账户问题</li>
							<li>入驻审核</li>
							<li>主体修改</li>
							<li>资料修改</li>
							<li>账号解封与冻结</li>
							<li>账号重名/侵权</li>
							<li>文章解锁</li>
							<li>内容审核</li>
							<li>内容举报</li>
							<li>违规处罚</li>
							<li>账号信誉度</li>
							<li>星级等级</li>
							<li>相关权益</li>
							<li>合作洽谈</li>
						</ul>
					</div>

					<div class="fl ydc-group-top-rg">
						<div class="ydc-group-input clearfix" style="width:100%; margin-bottom:20px;">
							<input type="text" placeholder="请输入关键词进行搜索" style="width:90%">
							<button class="ydc-group-button" style="background-color:#ff5f5f">搜 索</button>
						</div>
						<div class="ydc-panes">
							<div class="ydc-pane" style="display:block">
								<dl class="foldpanel" id="my-foldpanel">
									<dt>如果出现一点车车讯号名称重复怎么办？</dt>
									<dd>
										<p>如果您的帐号被冒名，您可以：</p>
										<p>①帐号同名，并盗用帐号的图标、简介、文章，请发送相关证据（其他平台后台截图、抄袭文章链接、营业执照等）到wangyihao@service.netease.com。</p>
										<p>②只是帐号同名，并未抄袭文章，帐号有注册商标，发送注册商标扫描照片至wangyihao@service.netease.com；没有注册商标，不算侵权，原则上无法处理。</p>
									</dd>
									<dt>为什么我的文章/视频被下线了？</dt>
									<dd>
										<p>被下线有以下几种可能：</p>
										<p>存在抄袭、侵权、非授权转载等情况：</p>
										<p>存在涉黄涉暴涉恐信息：</p>
										<p>存在严重推广营销行为：</p>
										<p>存在虚假信息：</p>
										<p>违反互联网相关规定：</p>
									</dd>
									<dt>如何申报一点车车讯号特色内容激励计划？</dt>
									<dd>
										<p>一点车车讯号平台秉承初心希望有更多的优质内容汇入一点车车讯号的内容汪洋，有更多各有态度的创作者能在一点车车讯号平台获得应有的收益，开通了特色内容激励计划的自主申请通道，您可以通过以下方式提交您的申请资料。</p>
									</dd>
									<dt>内容推荐量为什么这么低？</dt>
									<dd>
										<p>相似文章过多，被去重；同话题文章过多，内容供过于求。很多作者擅长抓住热点加以发挥创作，这样能够吸引主流用户，但由于很多作者都有这个倾向，导致一部分文章集中在某一个话题或者领域，甚至相似度过高，被系统去重。这个很好理解，100篇同话题文章，对应10000个用户，和10篇同话题文章，对应10000个用户，每篇文章的用户获得的推荐量肯定是不一样的。</p>
										<p>感兴趣或者潜在用户人数少。推荐系统的机制就是将文章推荐给感兴趣的用户。如果文章涉及的话题、事件过于冷门、晦涩难懂，鲜有用户问津，那么系统能为文章找到的感兴趣用户或者潜在感兴趣用户较少，导致推荐量低。</p>
										<p>时效性短。一些文章发布后，受内容或者话题时效性影响，时效性非常短，会影响到推荐量。</p>
										<p>内容存在审核和投诉等合规性风险。如果文章不符合审核管控规定，会被审核员认为不可推荐；如果文章过了审核，但推荐过程中被用户投诉或者负面反馈过多，也会被系统下撤停止推荐，影响推荐量。</p>
										<p></p>
										<p></p>
									</dd>
								</dl>
							</div>
							<div class="ydc-pane">
								<dl class="foldpanel" id="my-foldpanel1">
									<dt>一点车车讯号支持帐号主体类型修改吗？</dt>
									<dd>
										<p>一点车车讯号目前不支持媒体、自媒体、组织机构和企业帐号主体类型之间的修改，如果因为注册失误造成要修改帐号类型，请准备一个新的从未注册过任何一点车车讯号的网易邮箱重新申请入驻。</p>
										<p>如果您的帐号被冒名，您可以：</p>
										<p>企业：将帐号名称、一点车车讯号后台截图、原运营人手持身份证图片、企业营业执照、现运营人手持身份证图片、yidianc@163.com，各项资质齐全可修改。</p>
									</dd>
									<dt>帐号被封禁后可以解封吗？</dt>
									<dd>
										<p>　根据目前一点车车讯号相关处罚规定，帐号被封禁后不予解封。</p>
										<p>　内容存在审核和投诉等合规性风险，会被审核员认为不可推荐。</p>
										<p>　很多作者擅长抓住热点加以发挥创作，原运营人手持身份证图片。</p>
									</dd>
									<dt>如何更换运营人？</dt>
									<dd>
										<p>媒体/自媒体/组织机构：将帐号名称、一点车车讯号后台截图、原运营人手持身份证图片、现运营人手持身份证图片、现运营人姓名及身份证号码发送至一点车车讯号客服邮箱w，各项资质齐全可修改。</p>
										<p>企业：将帐号名称、一点车车讯号后台截图、原运营人手持身份证图片、企业营业执照、现运营人手持身份证图片、现运营人姓名及身份证号码发送至一点车车讯号客服邮箱wangyihao@service.netease.com，各项资质齐全可修改。</p>
									</dd>
									<dt>如何申报一点车车讯号特色内容激励计划？</dt>
									<dd>
										<p>一点车车讯号平台秉承初心希望有更多的优质内容汇入一点车车讯号的内容汪洋，有更多各有态度的创作者能在一点车车讯号平台获得应有的收益，开通了特色内容激励计划的自主申请通道，您可以通过以下方式提交您的申请资料。</p>
									</dd>
								</dl>
							</div>
							<div class="ydc-pane">
								<dl class="foldpanel" id="my-foldpanel2">
									<dt>提交了一点车车讯号申请后，审核需要多久？</dt>
									<dd>
										<p>　提交申请后，平台会在24小时之内给出审核结果。若超过24小时仍未审核</p>
										<p>aui_cn@163.com/yidiac@163.com询问。</p>
									</dd>
									<dt>一个身份证能否注册多个一点车车讯号？一个营业执照能否注册多个一点车车讯号？</dt>
									<dd>
										<p>　一个身份证可以注册2个一点车车讯号；一个企业营业执照可以注册5个一点车车讯号。</p>
									</dd>
									<dt>帐号审核申请可以提交几次？</dt>
									<dd>
										<p>　一个帐号24小时之内仅能提交2次上线申请。若超过规定次数，请过24小时再试。</p>
									</dd>
								</dl>
							</div>
							<div class="ydc-pane">
								<dl class="foldpanel" id="my-foldpanel3">
									<dt>如果出现一点车车讯号名称重复怎么办？</dt>
									<dd>
										<p>如果您的帐号被冒名，您可以：</p>
										<p>①帐号同名，并盗用帐号的图标、简介、文章，请发送相关证据（其他平台后台截图、抄袭文章链接、营业执照等）到wangyihao@service.netease.com。</p>
										<p>②只是帐号同名，并未抄袭文章，帐号有注册商标，发送注册商标扫描照片至wangyihao@service.netease.com；没有注册商标，不算侵权，原则上无法处理。</p>
									</dd>
									<dt>为什么我的文章/视频被下线了？</dt>
									<dd>
										<p>被下线有以下几种可能：</p>
										<p>存在抄袭、侵权、非授权转载等情况：</p>
										<p>存在涉黄涉暴涉恐信息：</p>
										<p>存在严重推广营销行为：</p>
										<p>存在虚假信息：</p>
										<p>违反互联网相关规定：</p>
									</dd>
									<dt>如何申报一点车车讯号特色内容激励计划？</dt>
									<dd>
										<p>一点车车讯号平台秉承初心希望有更多的优质内容汇入一点车车讯号的内容汪洋，有更多各有态度的创作者能在一点车车讯号平台获得应有的收益，开通了特色内容激励计划的自主申请通道，您可以通过以下方式提交您的申请资料。</p>
									</dd>
									<dt>内容推荐量为什么这么低？</dt>
									<dd>
										<p>相似文章过多，被去重；同话题文章过多，内容供过于求。很多作者擅长抓住热点加以发挥创作，这样能够吸引主流用户，但由于很多作者都有这个倾向，导致一部分文章集中在某一个话题或者领域，甚至相似度过高，被系统去重。这个很好理解，100篇同话题文章，对应10000个用户，和10篇同话题文章，对应10000个用户，每篇文章的用户获得的推荐量肯定是不一样的。</p>
										<p>感兴趣或者潜在用户人数少。推荐系统的机制就是将文章推荐给感兴趣的用户。如果文章涉及的话题、事件过于冷门、晦涩难懂，鲜有用户问津，那么系统能为文章找到的感兴趣用户或者潜在感兴趣用户较少，导致推荐量低。</p>
										<p>时效性短。一些文章发布后，受内容或者话题时效性影响，时效性非常短，会影响到推荐量。</p>
										<p>内容存在审核和投诉等合规性风险。如果文章不符合审核管控规定，会被审核员认为不可推荐；如果文章过了审核，但推荐过程中被用户投诉或者负面反馈过多，也会被系统下撤停止推荐，影响推荐量。</p>
										<p></p>
										<p></p>
									</dd>
								</dl>
							</div>
							<div class="ydc-pane">
								<dl class="foldpanel" id="my-foldpanel4">
									<dt>帐号名称\类别\图标能否修改?</dt>
									<dd>
										<p>登录一点车车讯号后台-【帐号设置】-【帐号信息】处，找到对应的修改按钮，可以修改帐号名称、图标、帐号简介、帐号详情</p>
										<p>其中帐号名称30天之内仅能修改一次；一点车车讯号运营人信息需要平台协助修改；平台不支持修改帐号分类。</p>
									</dd>
									<dt>如何修改登录邮箱？</dt>
									<dd>
										<p>被下线有以下几种可能：</p>
										<p>存在抄袭、侵权、非授权转载等情况：</p>
										<p>存在涉黄涉暴涉恐信息：</p>
										<p>存在严重推广营销行为：</p>
										<p>存在虚假信息：</p>
										<p>违反互联网相关规定：</p>
									</dd>
									<dt>如何更换运营人？</dt>
									<dd>
										<p>一点车车讯号平台秉承初心希望有更多的优质内容汇入一点车车讯号的内容汪洋，有更多各有态度的创作者能在一点车车讯号平台获得应有的收益，开通了特色内容激励计划的自主申请通道，您可以通过以下方式提交您的申请资料。</p>
									</dd>
									<dt>如何修改帐号登录密码？</dt>
									<dd>
										<p>相似文章过多，被去重；同话题文章过多，内容供过于求。很多作者擅长抓住热点加以发挥创作，这样能够吸引主流用户，但由于很多作者都有这个倾向，导致一部分文章集中在某一个话题或者领域，甚至相似度过高，被系统去重。这个很好理解，100篇同话题文章，对应10000个用户，和10篇同话题文章，对应10000个用户，每篇文章的用户获得的推荐量肯定是不一样的。</p>
										<p>感兴趣或者潜在用户人数少。推荐系统的机制就是将文章推荐给感兴趣的用户。如果文章涉及的话题、事件过于冷门、晦涩难懂，鲜有用户问津，那么系统能为文章找到的感兴趣用户或者潜在感兴趣用户较少，导致推荐量低。</p>
										<p>时效性短。一些文章发布后，受内容或者话题时效性影响，时效性非常短，会影响到推荐量。</p>
										<p>内容存在审核和投诉等合规性风险。如果文章不符合审核管控规定，会被审核员认为不可推荐；如果文章过了审核，但推荐过程中被用户投诉或者负面反馈过多，也会被系统下撤停止推荐，影响推荐量。</p>
										<p></p>
										<p></p>
									</dd>
								</dl>
							</div>
							<div class="ydc-pane">
								<dl class="foldpanel" id="my-foldpanel5">
									<dt>提交了一点车车讯号申请后，审核需要多久？</dt>
									<dd>
										<p>　提交申请后，平台会在24小时之内给出审核结果。若超过24小时仍未审核</p>
										<p>aui_cn@163.com/yidiac@163.com询问。</p>
									</dd>
									<dt>一个身份证能否注册多个一点车车讯号？一个营业执照能否注册多个一点车车讯号？</dt>
									<dd>
										<p>　一个身份证可以注册2个一点车车讯号；一个企业营业执照可以注册5个一点车车讯号。</p>
									</dd>
									<dt>帐号审核申请可以提交几次？</dt>
									<dd>
										<p>　一个帐号24小时之内仅能提交2次上线申请。若超过规定次数，请过24小时再试。</p>
									</dd>
								</dl>
							</div>
							<div class="ydc-pane">
								<dl class="foldpanel" id="my-foldpanel6">
									<dt>如果出现一点车车讯号名称重复怎么办？帐号被假冒怎么办？</dt>
									<dd>
										<p>一点车车讯号原则上不会出现重复的帐号名称</p>
										<p>如果您的帐号被冒名：</p>
										<p>帐号同名，并盗用帐号的图标、简介、文章，请发送相关证据（其他平台后台截图、抄袭文章链接、营业执照等）</p>
										<p>只是帐号同名，并未抄袭文章，帐号有注册商标，发送注册商标扫描照片至</p>
										<p>没有注册商标，不算侵权，原则上无法处理。</p>
										<p>　提交申请后，平台会在24小时之内给出审核结果。若超过24小时仍未审核</p>
										<p>aui_cn@163.com/yidiac@163.com询问。</p>
									</dd>
								</dl>
							</div>
							<div class="ydc-pane">
								<dl class="foldpanel" id="my-foldpanel7">
									<dt>为什么我发布的内容被下线了？</dt>
									<dd>
										<p>内容被下线有以下几种可能：</p>
										<p>1.存在抄袭、侵权、非授权转载等情况</p>
										<p>2.存在涉黄涉暴涉恐信息</p>
										<p>3.存在严重推广营销行为</p>
										<p>4.存在虚假信息</p>
										<p>5.违反互联网相关规定</p>
									</dd>
									<dt>非授权转载等情况?</dt>
									<dd>
										<p>1.存在抄袭、侵权、非授权转载等情况</p>
										<p>2.存在涉黄涉暴涉恐信息</p>
										<p>3.存在严重推广营销行为</p>
									</dd>
								</dl>
							</div>
							<div class="ydc-pane">
								<dl class="foldpanel" id="my-foldpanel8">
									<dt>内容同步申请成功之后源内容一般多久可以同步过来？</dt>
									<dd>
										<p>内容同步申请成功之后会有一定时间的延迟，通常情况下为2-3小时，请耐心等待。</p>
										<p>提交申请后，平台会在24小时之内给出审核结果。若超过24小时仍未审核</p>
									</dd>
									<dt>可以同步视频音频吗？</dt>
									<dd>
										<p>目前仅支持图文、视频同步，暂不支持音频内容同步。</p>
									</dd>
								</dl>
							</div>
							<div class="ydc-pane">
								<dl class="foldpanel" id="my-foldpanel9">
									<dt>内容同步为什么失败了？</dt>
									<dd>
										<p>内容同步失败的可能原因有：</p>
										<p>①填写的同步链接有误或已失效；</p>
										<p>②填写的同步链接暂未通过审核；</p>
										<p>③内容同步有一定的延时，同步链接审核通过后24小时内生效，请耐心等待。</p>
										<p>注：如无以上原因，请发邮件至一点车车讯号客服邮箱yidiac@163.com</p>
										<p>寻求技术支持。</p>
									</dd>
									<dt>举报抄袭</dt>
									<dd>
										<p>请提供您的一点车车讯号名称、抄袭帐号名称，以及抄袭链接、原文链接，邮件主题需注明【投诉抄袭】。</p>
									</dd>
								</dl>
							</div>
							<div class="ydc-pane">
								<dl class="foldpanel" id="my-foldpanel10">
									<dt>如果出现一点车车讯号名称重复怎么办？帐号被假冒怎么办？</dt>
									<dd>
										<p>一点车车讯号原则上不会出现重复的帐号名称</p>
										<p>如果您的帐号被冒名：</p>
										<p>帐号同名，并盗用帐号的图标、简介、文章，请发送相关证据（其他平台后台截图、抄袭文章链接、营业执照等）</p>
										<p>只是帐号同名，并未抄袭文章，帐号有注册商标，发送注册商标扫描照片至</p>
										<p>没有注册商标，不算侵权，原则上无法处理。</p>
										<p>　提交申请后，平台会在24小时之内给出审核结果。若超过24小时仍未审核</p>
										<p>aui_cn@163.com/yidiac@163.com询问。</p>
									</dd>
								</dl>
							</div>
							<div class="ydc-pane">
								<dl class="foldpanel" id="my-foldpanel11">
									<dt>如何查询我有哪些认证？</dt>
									<dd>
										<p>可在“我的认证”中进行查询，某一主体满足多个认证时，只可自行选择其中一种进行展示。</p>
									</dd>
									<dt>认证的撤销及处罚？</dt>
									<dd>
										<p>认证所需相关信息材料需真实有效，获得认证信息的帐号需遵守一点车车讯号平台相关规则。如出现与认证信息不匹配行为或违反相关规定的行为，平台将撤销已有认证信息，并对帐号进行相关处罚。解释权归一点车车讯号平台所有。</p>
									</dd>
									<dt>一点车车讯号兴趣认证领域是如何判定的？</dt>
									<dd>
										<p>兴趣认证相应领域不可自填。平台会根据您申请一点车车讯号时选择的帐号分类以及您以往在一点车车讯号平台发布的内容所属领域筛选出符合您的兴趣认证领域。</p>
									</dd>
								</dl>
							</div>
							<div class="ydc-pane">
								<dl class="foldpanel" id="my-foldpanel12">
									<dt>如果出现一点车车讯号名称重复怎么办？帐号被假冒怎么办？</dt>
									<dd>
										<p>一点车车讯号原则上不会出现重复的帐号名称</p>
										<p>如果您的帐号被冒名：</p>
										<p>帐号同名，并盗用帐号的图标、简介、文章，请发送相关证据（其他平台后台截图、抄袭文章链接、营业执照等）</p>
										<p>只是帐号同名，并未抄袭文章，帐号有注册商标，发送注册商标扫描照片至</p>
										<p>没有注册商标，不算侵权，原则上无法处理。</p>
										<p>　提交申请后，平台会在24小时之内给出审核结果。若超过24小时仍未审核</p>
										<p>aui_cn@163.com/yidiac@163.com询问。</p>
									</dd>
								</dl>
							</div>
							<div class="ydc-pane">
								<dl class="foldpanel" id="my-foldpanel13">
									<dt>身份认证信息错误或者变更怎么办？</dt>
									<dd>
										<p>身份认证可进行修改，修改原因仅限于“离职/取消错误信息”和“更新职位信息”。在“我的认证”界面点击“修改认证”按钮，按照提示完成操作。注意：90天内只能修改一次认证信息。新信息提交后平台将于10个工作日内审核完毕。</p>
									</dd>
								</dl>
							</div>
							<div class="ydc-pane">
								<dl class="foldpanel" id="my-foldpanel14">
									<dt>什么是一点车车讯号原创认证？一点车车讯号原创认证有哪些特权？</dt>
									<dd>
										<p>为扶持平台内优质的原创内容，给予具有原创能力的创作者更多权益和保护</p>
										<p>一点车车讯号针对于平台内已经获得原创标签的创作者推出原创认证服务。原创认证已逐步开放申请。</p>
										<p>获得一点车车讯号原创认证的创作者可享有以下特权：</p>
										<p>1.官方认证标识</p>
										<p>2.官方帐号推荐</p>
										<p>3.更多曝光</p>
										<p>4.新功能优先体验</p>
									</dd>
									<dt>合作洽谈</dt>
									<dd>
										<p>感谢您对一点车车讯号的关注与支持！如有合作意向，请联系邮箱yidianc@163.com</p>
									</dd>
								</dl>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>

	</section>
<!-- content YDC end -->

	<script type="text/javascript" src="admin/js/jquery.min.js"></script>
	<script type="text/javascript" src="admin/js/customer.js"></script>

	<script type="text/javascript">
	    var slideIndex = 0;
	    showSlides();

	    function showSlides() {
	        var i;
	        var slides = document.getElementsByClassName("mySlides");
	        for (i = 0; i < slides.length; i++) {
	            slides[i].style.display = "none";
	        }
	        slideIndex++;
	        if (slideIndex> slides.length) {slideIndex = 1}
	        slides[slideIndex-1].style.display = "block";
	        setTimeout(showSlides, 3000); // 滚动时间
	    }
	</script>

	<script type="text/javascript">
	    $(function(){
	        $('.ydc-tabPanel ul li').click(function(){
	            $(this).addClass('hit').siblings().removeClass('hit');
	            $('.ydc-panes>div:eq('+$(this).index()+')').show().siblings().hide();
	        })
	    })
	</script>

	<script type="text/javascript">


	    $(function(){

	        $('dl#my-foldpanel,dl#my-foldpanel1,dl#my-foldpanel2,dl#my-foldpanel3,dl#my-foldpanel4,dl#my-foldpanel5,dl#my-foldpanel6,dl#my-foldpanel7,dl#my-foldpanel8,dl#my-foldpanel9,dl#my-foldpanel10,dl#my-foldpanel11,dl#my-foldpanel12,dl#my-foldpanel13,dl#my-foldpanel14').foldpanel({

	            init: true,			// 初始第一个展开, 默认为 true

	            time: 100,			// panel展开动画时间, 默认为 100ms

	            dbclose: true,		// 在此点击关闭, 默认为 true

	        });

	    })


	</script>

</body>
</html>