<div class="ydc-column ydc-column-2">
					<div class="ydc-menu">
                        <span style="
                            color: #999;
                            font-size: 15px;
                            margin-left: 66px;
                        ">发布文章</span>
						<ul>
							<li class="ydc-menu-item">
								<a href="{% url 'blog:markdown' %}" style="color: red;" id="edit_0">
                                    <svg width="21" height="14" viewBox="0 0 1262 1024" xmlns="http://www.w3.org/2000/svg" class="icon"><path d="M1053.609 803.358a40.929 40.929 0 110 81.788H215.354c-10.848 0-21.255-4.274-28.92-11.916a41.045 41.045 0 01-11.963-29.013 44.297 44.297 0 011.951-13.519c87.642-247.897 227.224-442.995 386.573-588.151 35.68-32.567 86.806-58.119 128.478-67.898 174.68-41.068 288.826-36.4 403.088-34.657a1256.953 1256.953 0 01-72.45 76.422c-4.089 3.972-208.432 24.205-237.863 57.166s163.972 8.99 158.35 13.52a1174.027 1174.027 0 01-88.431 65.435c-5.691 3.832-189.175-.442-220.952 33.82-31.8 34.24 128.897 22.022 121.556 25.97-85.342 45.738-159.302 78.514-269.081 113.96-72.985 23.578-154.123 161.65-185.435 217.422a518.86 518.86 0 00-29.06 59.651h782.414zm0 0" style="width: 8px;">
                                    </path></svg><span>Markdown编辑器</span></a>
							</li>
							<li class="ydc-menu-item">
								<a href="{% url 'blog:edit' %}"  style=" color: red; " id="edit_1">
                                <svg width="21" height="14" viewBox="0 0 1262 1024" xmlns="http://www.w3.org/2000/svg" class="icon"><path d="M1053.609 803.358a40.929 40.929 0 110 81.788H215.354c-10.848 0-21.255-4.274-28.92-11.916a41.045 41.045 0 01-11.963-29.013 44.297 44.297 0 011.951-13.519c87.642-247.897 227.224-442.995 386.573-588.151 35.68-32.567 86.806-58.119 128.478-67.898 174.68-41.068 288.826-36.4 403.088-34.657a1256.953 1256.953 0 01-72.45 76.422c-4.089 3.972-208.432 24.205-237.863 57.166s163.972 8.99 158.35 13.52a1174.027 1174.027 0 01-88.431 65.435c-5.691 3.832-189.175-.442-220.952 33.82-31.8 34.24 128.897 22.022 121.556 25.97-85.342 45.738-159.302 78.514-269.081 113.96-72.985 23.578-154.123 161.65-185.435 217.422a518.86 518.86 0 00-29.06 59.651h782.414zm0 0">
                                </path></svg><span>富文本编辑器</span></a>
							</li>
							<li class="ydc-menu-item">
								<span class="ydc-menu-sub-title">
									<i class="ydc-icon ydc-icon-file fl"></i>管理
								</span>
								<ul>
									<li>
										<a href="{% url 'blog:manage' %}" id="manage_1">文章管理</a>
									</li>
									<li>
										<a href="{% url 'blog:catalog_edit' %}" id="manage_2">分类专栏</a>
									</li>
									<li>
										<a href="asset.html" id="manage_3">素材中心</a>
									</li>
								</ul>
							</li>
							<li class="ydc-menu-item">
								<span class="ydc-menu-sub-title">
									<i class="ydc-icon ydc-icon-record fl"></i>数据
								</span>
								<ul>
									<li>
										<a href="subscribe.html" id="data_1">订阅数据</a>
									</li>
									<li>
										<a href="content-data.html" id="data_2">内容数据</a>
									</li>
									<li>
										<a href="index-starLevel.html" id="data_3">指数星级</a>
									</li>
								</ul>
							</li>
							<li class="ydc-menu-item">
								<span class="ydc-menu-sub-title">
									<i class="ydc-icon ydc-icon-set fl"></i>设置
								</span>
								<ul>
									<li>
										<a href="info.html" id="setting_1">账号信息</a>
									</li>
									<li>
										<a href="account.html" id="setting_2">账号状态</a>
									</li>
								</ul>
							</li>
							<li class="ydc-menu-item">
								<span class="ydc-menu-sub-title">
									<i class="ydc-icon ydc-icon-customer fl"></i>客服
								</span>
								<ul>
									<li>
										<a href="#" id="help_1">在线咨询</a>
									</li>
								</ul>
							</li>
						</ul>
					</div>
				</div>