<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name='TTUNION_verify' content='b846c3c2b85efabc496d2a2b8399cd62'>
	<meta name="sogou_site_verification" content="gI1bINaJcL"/>
	<meta name="360-site-verification" content="37ae9186443cc6e270d8a52943cd3c5a"/>
	<meta name="baidu_union_verify" content="99203948fbfbb64534dbe0f030cbe817">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="apple-touch-fullscreen" content="yes">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE;chrome=1">
	<meta name="format-detection" content="telephone=no">
	<meta name="keywords" content="一点车 -  让您多懂一点车,一点车，让您多懂一点车的常识，在这里，您会看到汽车相关的知识，汽车日常保养，汽车多用小知识，汽车简单维修以及清洗保养等等。">
	<meta name="description" content="一点车 -  让您多懂一点车,一点车，让您多懂一点车的常识，在这里，您会看到汽车相关的知识，汽车日常保养，汽车多用小知识，汽车简单维修以及清洗保养等等。。">
	<meta name="author" content="AUI, a-ui.com">
	<meta name="baidu-site-verification" content="ZVPGgtpUfW"/>
	<title>公告栏-- 一点车 -  让您多懂一点车</title>
	<link rel="icon" type="image/x-icon" href="favicon.ico">
	<link href="iTunesArtwork@2x.png" sizes="114x114" rel="apple-touch-icon-precomposed">
	<link type="text/css" rel="stylesheet" href="admin/css/core.css">
	<link type="text/css" rel="stylesheet" href="admin/css/icon.css">
	<link type="text/css" rel="stylesheet" href="admin/css/home.css">


</head>
<body>

<!-- head YDC begin -->
	<header class="ydc-header">
		<div class="ydc-entered">
			<div class="ydc-header-content ydc-flex">
				<div class="ydc-column">
					<a href="index.html" class="ydc-column-ydc-logo">
						<img src="admin/images/icon/ydc-logo.png" title="" about="" alt="">
					</a>
				</div>
				<div class="ydc-column">
					<div class="ydc-column-user">
						<div class="ydc-user-photo">
							<a href="javascript:;">
								<img src="admin/images/icon/photo.png" title="" about="" alt="">
							</a>
						</div>
						<div class="ydc-user-info">
							<div class="ydc-user-info-name">
								<a href="javascript:;">一点车</a>
							</div>
							<div class="ydc-user-info-func ydc-flex">
								<span class="ydc-tag">新手期</span>
								<span class="ydc-mal"><i class="ydc-icon ydc-icon-mail fl"></i><em>12</em></span>
								<a href="javascript:;">退出</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
<!-- head YDC end -->

<!-- content YDC begin -->
	<section>
		<div class="ydc-content-slide ydc-body">
			<div class="ydc-page-content">
				<div class="ydc-page-head">
					<h3>一点车点讯号平台关于封禁违规账号的通知（5月01日-5月19日）</h3>
					<h4>亲爱的点讯号平台作者：</h4>
					<p>为维护平台良好的阅读体验，打造绿色健康的网络生态环境，始终坚决打击导向不正、格调低俗、血腥色情、恶搞、宣扬扭曲价值观等违规行为。</p>
					<p>4月21日至5月11日期间，平台共封禁违规帐号53个。该批账号违规发布广告的行为严重影响了用户的阅读体验。现将此批账号予以公示，望各位作者能引以为戒，加强内容把关，共同维护一个内容健康、秩序良好的自媒体平台。</p>
					<h4>被封禁帐号名单公示如下：</h4>
					<p>喜欢的是你、江春入新年、微雨绵绵、士杰娱乐、兔耳的音乐盒、肥牛体育、春意雨纷纷、墨香逸丽、掌心有痕、华娱乐聚焦、潮流穿搭、梦随风去流动、点点落寞、诚实心安、宁谧的夜、莲花的青松、一阕山与水、世界上幸福的人、玫瑰实惠网rosesh、微影姐姐、美丽天使1026、相濡以沫的爱、大海印象工作室、话梅糖说、风潜随风、夏夜的秋意、梅开雪舞时、无尽辰光、球云巅峰、平头小喵、聚焦哪些热点、艺视角娱乐、娱乐灯泡、搞笑娱扒、下发布、如寄教育、一心系娱乐、旧时楼于宇、美女热舞社官方频道、纯白的心、娱乐唠丽、劲爆的娱乐八卦、做喜欢的事就是快乐、玩大转绿满星球、托马斯舞步、收藏说历史、最美好的事、奇葩搞笑哥、U吐槽搞笑、妈咪母婴、铁侠万里、风格和敢于的经、麻辣小说谈喜欢的是你、江春入新年、微雨绵绵、士杰娱乐、兔耳的音乐盒、肥牛体育、春意雨纷纷、墨香逸丽、掌心有痕、华娱乐聚焦、潮流穿搭、梦随风去流动、点点落寞、诚实心安、宁谧的夜、莲花的青松、一阕山与水、世界上幸福的人、玫瑰实惠网rosesh、微影姐姐、美丽天使1026、相濡以沫的爱、大海印象工作室、话梅糖说、风潜随风、夏夜的秋意、梅开雪舞时、无尽辰光、球云巅峰、平头小喵、聚焦哪些热点、艺视角娱乐、娱乐灯泡、搞笑娱扒、下发布、如寄教育、一心系娱乐、旧时楼于宇、美女热舞社官方频道、纯白的心、娱乐唠丽、劲爆的娱乐八卦、做喜欢的事就是快乐、玩大转绿满星球、托马斯舞步、收藏说历史、最美好的事、奇葩搞笑哥、U吐槽搞笑、妈咪母婴、铁侠万里、风格和敢于的经、麻辣小说谈</p>
					<h4>平台规则</h4>
					<p>希望每个快传号作者尊重并遵守平台规则，共同为维护平台良好生态秩序而努力。若您对名单有任何疑问，可以到论坛进行反馈：论坛入口</p>
					<p>感谢您对我们的工作的配合与支持！</p>
					<p>为了给广大作者们提供更好的服务和体验，给予优质原创内容和创作者更多回报，快传号平台将于4月1日正式启动视频内容补贴。 </p>
					<p>为维护平台良好的阅读体验，打造绿色健康的网络生态环境，始终坚决打击导向不正、格调低俗、血腥色情、恶搞、宣扬扭曲价值观等违规行为。</p>
					<h4>被封禁帐号名单公示如下：</h4>
					<p>喜欢的是你、江春入新年、微雨绵绵、士杰娱乐、兔耳的音乐盒、肥牛体育、春意雨纷纷、墨香逸丽、掌心有痕、华娱乐聚焦、潮流穿搭、梦随风去流动、点点落寞、诚实心安、宁谧的夜、莲花的青松、一阕山与水、世界上幸福的人、玫瑰实惠网rosesh、微影姐姐、美丽天使1026、相濡以沫的爱、大海印象工作室、话梅糖说、风潜随风、夏夜的秋意、梅开雪舞时、无尽辰光、球云巅峰、平头小喵、聚焦哪些热点、艺视角娱乐、娱乐灯泡、搞笑娱扒、下发布、如寄教育、一心系娱乐、旧时楼于宇、美女热舞社官方频道、纯白的心、娱乐唠丽、劲爆的娱乐八卦、做喜欢的事就是快乐、玩大转绿满星球、托马斯舞步、收藏说历史、最美好的事、奇葩搞笑哥、U吐槽搞笑、妈咪母婴、铁侠万里、风格和敢于的经、麻辣小说谈喜欢的是你、江春入新年、微雨绵绵、士杰娱乐、兔耳的音乐盒、肥牛体育、春意雨纷纷、墨香逸丽、掌心有痕、华娱乐聚焦、潮流穿搭、梦随风去流动、点点落寞、诚实心安、宁谧的夜、莲花的青松、一阕山与水、世界上幸福的人、玫瑰实惠网rosesh、微影姐姐、美丽天使1026、相濡以沫的爱、大海印象工作室、话梅糖说、风潜随风、夏夜的秋意、梅开雪舞时、无尽辰光、球云巅峰、平头小喵、聚焦哪些热点、艺视角娱乐、娱乐灯泡、搞笑娱扒、下发布、如寄教育、一心系娱乐、旧时楼于宇、美女热舞社官方频道、纯白的心、娱乐唠丽、劲爆的娱乐八卦、做喜欢的事就是快乐、玩大转绿满星球、托马斯舞步、收藏说历史、最美好的事、奇葩搞笑哥、U吐槽搞笑、妈咪母婴、铁侠万里、风格和敢于的经、麻辣小说谈</p>
					<h4>平台规则</h4>
					<p>希望每个快传号作者尊重并遵守平台规则，共同为维护平台良好生态秩序而努力。若您对名单有任何疑问，可以到论坛进行反馈：论坛入口</p>
					<p>感谢您对我们的工作的配合与支持！</p>
					<p>为了给广大作者们提供更好的服务和体验，给予优质原创内容和创作者更多回报，快传号平台将于4月1日正式启动视频内容补贴。 </p>
					<p>为维护平台良好的阅读体验，打造绿色健康的网络生态环境，始终坚决打击导向不正、格调低俗、血腥色情、恶搞、宣扬扭曲价值观等违规行为。</p>
				</div>
				<div class="ydc-page-aut">
					<p>一点车<br>2018年5月19日</p>
				</div>
				<div class="ydc-right-banner">
					<div class="slideshow-container">
						<a href="https://xihazahuopu.taobao.com/" target="_blank" class="mySlides fade">
							<img src="admin/images/ad/ad1.jpg" style="width:100%">
						</a>
						<a href="https://weibo.com/525135676" target="_blank" class="mySlides fade">
							<img src="admin/images/ad/ad2.jpg" style="width:100%">
						</a>
						<a href="http://www.a-ui.cn/" target="_blank" class="mySlides fade">
							<img src="admin/images/ad/ad3.jpg" style="width:100%">
						</a>
					</div>
				</div>
			</div>
		</div>

	</section>
<!-- content YDC end -->

	<script type="text/javascript" src="admin/js/jquery.min.js"></script>
	<script type="text/javascript">
	    var slideIndex = 0;
	    showSlides();

	    function showSlides() {
	        var i;
	        var slides = document.getElementsByClassName("mySlides");
	        for (i = 0; i < slides.length; i++) {
	            slides[i].style.display = "none";
	        }
	        slideIndex++;
	        if (slideIndex> slides.length) {slideIndex = 1}
	        slides[slideIndex-1].style.display = "block";
	        setTimeout(showSlides, 3000); // 滚动时间
	    }
	</script>

	<script type="text/javascript">
	    $(function(){
	        $('.ydc-tabPanel ul li').click(function(){
	            $(this).addClass('hit').siblings().removeClass('hit');
	            $('.ydc-panes>div:eq('+$(this).index()+')').show().siblings().hide();
	        })
	    })
	</script>

</body>
</html>