<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name='TTUNION_verify' content='b846c3c2b85efabc496d2a2b8399cd62'>
	<meta name="sogou_site_verification" content="gI1bINaJcL"/>
	<meta name="360-site-verification" content="37ae9186443cc6e270d8a52943cd3c5a"/>
	<meta name="baidu_union_verify" content="99203948fbfbb64534dbe0f030cbe817">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="apple-touch-fullscreen" content="yes">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE;chrome=1">
	<meta name="format-detection" content="telephone=no">
	<meta name="keywords" content="一点车 -  让您多懂一点车,一点车，让您多懂一点车的常识，在这里，您会看到汽车相关的知识，汽车日常保养，汽车多用小知识，汽车简单维修以及清洗保养等等。">
	<meta name="description" content="一点车 -  让您多懂一点车,一点车，让您多懂一点车的常识，在这里，您会看到汽车相关的知识，汽车日常保养，汽车多用小知识，汽车简单维修以及清洗保养等等。。">
	<meta name="author" content="AUI, a-ui.com">
	<meta name="baidu-site-verification" content="ZVPGgtpUfW"/>
	<title>发文规范-- 一点车 -  让您多懂一点车</title>
	<link rel="icon" type="image/x-icon" href="favicon.ico">
	<link href="iTunesArtwork@2x.png" sizes="114x114" rel="apple-touch-icon-precomposed">
	<link type="text/css" rel="stylesheet" href="admin/css/core.css">
	<link type="text/css" rel="stylesheet" href="admin/css/icon.css">
	<link type="text/css" rel="stylesheet" href="admin/css/home.css">


</head>
<body>

<!-- head YDC begin -->
	<header class="ydc-header">
		<div class="ydc-entered">
			<div class="ydc-header-content ydc-flex">
				<div class="ydc-column">
					<a href="index.html" class="ydc-column-ydc-logo">
						<img src="admin/images/icon/ydc-logo.png" title="" about="" alt="">
					</a>
				</div>
				<div class="ydc-column">
					<div class="ydc-column-user">
						<div class="ydc-user-photo">
							<a href="javascript:;">
								<img src="admin/images/icon/photo.png" title="" about="" alt="">
							</a>
						</div>
						<div class="ydc-user-info">
							<div class="ydc-user-info-name">
								<a href="javascript:;">一点车</a>
							</div>
							<div class="ydc-user-info-func ydc-flex">
								<span class="ydc-tag">新手期</span>
								<span class="ydc-mal"><i class="ydc-icon ydc-icon-mail fl"></i><em>12</em></span>
								<a href="javascript:;">退出</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
<!-- head YDC end -->

<!-- content YDC begin -->
	<section>
		<div class="ydc-content-slide ydc-body">
			<div class="ydc-page-content">
				<div class="ydc-page-head">
					<h3>一点车点讯号平台发文规范</h3>
					<h4>1、标题、内容存在以下所述，该文章不符合发文规范，会被机器识别为低质内容，不予推荐:</h4>
					<p>标题含错别字；</p>
					<p>标题字数过长（标题不得超过30个字）</p>
					<p>标题不完整/不通顺；</p>
					<p>标题含特殊符号；例如：、、、□、、★、㊣、、、~\(≧≦)/~等等</p>
					<p>标题全部英文/外文、含繁体字；</p>
					<p>标题与内文无关，用词过于夸张，涉嫌标题党吸引流量；</p>
					<p>标题涉嫌恶俗；恶俗标题指含有辱骂性质的口头语，如他妈的（tm）、卧槽（我擦/我操/我艹）、傻逼（B）、尼玛、二逼（B）、日了狗、老子、劳资等。</p>
					<p>色情低俗／反动违法标题;</p>
					<h4>2、正文</h4>
					<p>全文繁体字、全文英文；</p>
					<p>全文/大段乱码、未分段或无标点；</p>
					<p>内容不完整或重复（文字/图片）；</p>
					<p>文内特殊符号过多；</p>
					<h4>3、广告</h4>
					<p>文章含有营销购买信息，广告的对象为单一的某产品或品牌，包含文末广告信息；</p>
					<p>推广微信公众号使用变体，包括但不限于：WX、微X，Wxin、威信、微~信~公~众~号等；</p>
					<p>发布内容含有购物链接、网盘资源下载链接等；</p>
					<p>于正文无关的其他推广；</p>
					<h4>4、 低质、抄袭</h4>
					<p>以图片为主体/图文夹杂的文章，3张以下（不含3张），内容不完整/不丰富；</p>
					<p>以文字为主体的文章，内容不完整/不丰富，一段内容/五行以下（不含五行）；</p>
					<p>全文内容以文字截图组成或者以一张长截图（图解内容除外）</p>
					<p>抄袭他人内容；</p>
					<h4>5、旧闻、虚假信息</h4>
					<p>发布过时的信息，包括但不限于（法律法规、国际政策、体育赛事、活动、天气预报、节目预告等）；</p>
					<p>与平台已有内容重复；</p>
					<h4>6、内容违反现行政策与法律法规</h4>
					<p>违反宪法基本原则的内容；</p>
					<p>危害国家安全、泄露国家机密，颠覆国家政权、破坏国家统一、损害国家荣誉和利益的内容；</p>
					<p>破坏国家宗教政策，宣扬邪教和封建迷信的内容；</p>
					<p>煽动民族仇恨、破坏民族团结内容；</p>
					<p>散布谣言、扰乱社会秩序、破坏社会稳定的内容；</p>
					<p>散布恐怖、色情、暴力、赌博或教唆犯罪的内容；</p>
					<p>侮辱或诽谤他人，侵害他人合法权益的内容；</p>
					<p>不符合社会主义核心价值观的内容；</p>
				</div>
				<div class="ydc-page-aut">
					<p>一点车<br>2018年5月19日</p>
				</div>
				<div class="ydc-right-banner">
					<div class="slideshow-container">
						<a href="https://xihazahuopu.taobao.com/" target="_blank" class="mySlides fade">
							<img src="admin/images/ad/ad1.jpg" style="width:100%">
						</a>
						<a href="https://weibo.com/525135676" target="_blank" class="mySlides fade">
							<img src="admin/images/ad/ad2.jpg" style="width:100%">
						</a>
						<a href="http://www.a-ui.cn/" target="_blank" class="mySlides fade">
							<img src="admin/images/ad/ad3.jpg" style="width:100%">
						</a>
					</div>
				</div>
			</div>
		</div>

	</section>
<!-- content YDC end -->

	<script type="text/javascript" src="admin/js/jquery.min.js"></script>
	<script type="text/javascript">
	    var slideIndex = 0;
	    showSlides();

	    function showSlides() {
	        var i;
	        var slides = document.getElementsByClassName("mySlides");
	        for (i = 0; i < slides.length; i++) {
	            slides[i].style.display = "none";
	        }
	        slideIndex++;
	        if (slideIndex> slides.length) {slideIndex = 1}
	        slides[slideIndex-1].style.display = "block";
	        setTimeout(showSlides, 3000); // 滚动时间
	    }
	</script>

	<script type="text/javascript">
	    $(function(){
	        $('.ydc-tabPanel ul li').click(function(){
	            $(this).addClass('hit').siblings().removeClass('hit');
	            $('.ydc-panes>div:eq('+$(this).index()+')').show().siblings().hide();
	        })
	    })
	</script>

</body>
</html>