<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name='TTUNION_verify' content='b846c3c2b85efabc496d2a2b8399cd62'>
	<meta name="sogou_site_verification" content="gI1bINaJcL"/>
	<meta name="360-site-verification" content="37ae9186443cc6e270d8a52943cd3c5a"/>
	<meta name="baidu_union_verify" content="99203948fbfbb64534dbe0f030cbe817">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="apple-touch-fullscreen" content="yes">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE;chrome=1">
	<meta name="format-detection" content="telephone=no">
	<meta name="keywords" content="一点车 -  让您多懂一点车,一点车，让您多懂一点车的常识，在这里，您会看到汽车相关的知识，汽车日常保养，汽车多用小知识，汽车简单维修以及清洗保养等等。">
	<meta name="description" content="一点车 -  让您多懂一点车,一点车，让您多懂一点车的常识，在这里，您会看到汽车相关的知识，汽车日常保养，汽车多用小知识，汽车简单维修以及清洗保养等等。。">
	<meta name="author" content="AUI, a-ui.com">
	<meta name="baidu-site-verification" content="ZVPGgtpUfW"/>
	<title>数据订阅  一点车 -  让您多懂一点车</title>
	<link rel="icon" type="image/x-icon" href="favicon.ico">
	<link href="iTunesArtwork@2x.png" sizes="114x114" rel="apple-touch-icon-precomposed">
	<link type="text/css" rel="stylesheet" href="admin/css/core.css">
	<link type="text/css" rel="stylesheet" href="admin/css/icon.css">
	<link type="text/css" rel="stylesheet" href="admin/css/home.css">


</head>
<body>

<!-- head YDC begin -->
	<header class="ydc-header">
		<div class="ydc-entered">
			<div class="ydc-header-content ydc-flex">
				<div class="ydc-column">
					<a href="index.html" class="ydc-column-ydc-logo">
						<img src="admin/images/icon/ydc-logo.png" title="" about="" alt="">
					</a>
				</div>
				<div class="ydc-column">
					<div class="ydc-column-user">
						<div class="ydc-user-photo">
							<a href="javascript:;">
								<img src="admin/images/icon/photo.png" title="" about="" alt="">
							</a>
						</div>
						<div class="ydc-user-info">
							<div class="ydc-user-info-name">
								<a href="javascript:;">一点车</a>
							</div>
							<div class="ydc-user-info-func ydc-flex">
								<span class="ydc-tag">新手期</span>
								<span class="ydc-mal"><i class="ydc-icon ydc-icon-mail fl"></i><em>12</em></span>
								<a href="javascript:;">退出</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
<!-- head YDC end -->

<!-- content YDC begin -->
	<section>
		<div class="ydc-content-slide ydc-body">
			<div class="ydc-flex">
				<!-- left begin -->
				<div class="ydc-column ydc-column-2">
					<div class="ydc-menu">
						<ul>
							<li class="ydc-menu-item">
								<a href="index.html"  class=""><i class="ydc-icon ydc-icon-home fl"></i>首页</a>
							</li>
							<li class="ydc-menu-item">
								<a href="release.html"><i class="ydc-icon ydc-icon-find fl"></i>发布</a>
							</li>
							<li class="ydc-menu-item">
								<span class="ydc-menu-sub-title">
									<i class="ydc-icon ydc-icon-file fl"></i>管理
								</span>
								<ul>
									<li>
										<a href="content.html">内容管理</a>
									</li>
									<li>
										<a href="related.html">内容同步</a>
									</li>
									<li>
										<a href="asset.html">素材中心</a>
									</li>
								</ul>
							</li>
							<li class="ydc-menu-item">
								<span class="ydc-menu-sub-title">
									<i class="ydc-icon ydc-icon-record fl"></i>数据
								</span>
								<ul>
									<li>
										<a href="subscribe.html" class="active">订阅数据</a>
									</li>
									<li>
										<a href="content-data.html">内容数据</a>
									</li>
									<li>
										<a href="index-starLevel.html">指数星级</a>
									</li>
								</ul>
							</li>
							<li class="ydc-menu-item">
								<span class="ydc-menu-sub-title">
									<i class="ydc-icon ydc-icon-set fl"></i>设置
								</span>
								<ul>
									<li>
										<a href="info.html">账号信息</a>
									</li>
									<li>
										<a href="account.html">账号状态</a>
									</li>
								</ul>
							</li>
							<li class="ydc-menu-item">
								<span class="ydc-menu-sub-title">
									<i class="ydc-icon ydc-icon-customer fl"></i>客服
								</span>
								<ul>
									<li>
										<a href="#">在线咨询</a>
									</li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
				<!-- left end -->
				<!-- right begin -->
				<div class="ydc-column ydc-column-8">
					<div class="ydc-entered-box">
						<div class="ydc-content-right">
							<div class="ydc-right-head">
								<div class="ydc-right-head-info">
									<dl>
										<a href="#">
											<dt>总订阅</dt>
											<dd>14</dd>
										</a>
									</dl>
									<dl>
										<a href="#">
											<dt>昨日新增</dt>
											<dd>224</dd>
										</a>
									</dl>
								</div>
							</div>
							<div class="ydc-right-banner">
								<div class="slideshow-container">
									<a href="https://xihazahuopu.taobao.com/" target="_blank" class="mySlides fade">
										<img src="admin/images/ad/ad1.jpg" style="width:100%">
									</a>
									<a href="https://weibo.com/525135676" target="_blank" class="mySlides fade">
										<img src="admin/images/ad/ad2.jpg" style="width:100%">
									</a>
									<a href="http://www.a-ui.cn/" target="_blank" class="mySlides fade">
										<img src="admin/images/ad/ad3.jpg" style="width:100%">
									</a>
								</div>
							</div>
							<!-- gongGao begin -->
							<div class="ydc-loading-box">
								<div>
									<div class="ydc-chart-title clearfix">
										<div class="fl">
											<h2>详细数据</h2>
										</div>
										<div class="fl">
											<span>7天 | 14天  | 30天</span>
										</div>
									</div>
									<div id="main" style="height:400px; margin-top:20px;"></div>
									<div class="ydc-chart-title ydc-chart-title-top clearfix">
										<div class="fl">
											<h2>数据明细</h2>
										</div>
										<div class="fr">
											<a href="#">导出Excel</a>
										</div>
									</div>
									<div class="ydc-chart-table">
										<table>
											<thead>
											<tr>
												<th>日期</th>
												<th>新增订阅</th>
											</tr>
											</thead>
											<tbody>
											<tr>
												<td>2018-05-20</td>
												<td>68909</td>
											</tr>
											<tr>
												<td>2018-05-20</td>
												<td>68909</td>
											</tr>
											<tr>
												<td>2018-05-20</td>
												<td>68909</td>
											</tr>
											<tr>
												<td>2018-05-20</td>
												<td>68909</td>
											</tr>
											<tr>
												<td>2018-05-20</td>
												<td>68909</td>
											</tr>
											<tr>
												<td>2018-05-20</td>
												<td>68909</td>
											</tr>
											<tr>
												<td>2018-05-20</td>
												<td>68909</td>
											</tr>
											</tbody>
										</table>
									</div>
									<div class="ydc-pagination">
										<ol>
											<li class="ydc-previous-item">
												<button class="ydc-previous-item-btn-medium ydc-disabled">
													<span>上一页</span>
												</button>
											</li>
											<li>
												<button class="ydc-previous-item-btn-medium cur">1</button>
											</li>
											<li>
												<button class="ydc-previous-item-btn-medium">2</button>
											</li>
											<li>
												<button class="ydc-previous-item-btn-medium">3</button>
											</li>
											<li>
												<button class="ydc-previous-item-btn-medium">4</button>
											</li>
											<li>
												<button class="ydc-previous-item-btn-medium">5</button>
											</li>
											<li class="ydc-previous-item">
												<button class="ydc-previous-item-btn-medium">
													<span>下一页</span>
												</button>
											</li>
											<li class="ydc-item-quick">
												第<div class="ydc-item-quick-kun"><input type="number" aria-invalid="false" class=""></div>页
												<button style="margin-left:5px;" class="ydc-previous-item-btn-medium">
													<span>跳转</span>
												</button>
											</li>
										</ol>
									</div>
								</div>
							</div>
							<!-- gongGao End -->
						</div>
					</div>
				</div>
				<!-- right end -->
			</div>
		</div>

		<div class="ydc-footer">
			<div>
				<p>©2018 一点车版权所有About 公司简介  联系方法  招聘信息  客户服务  隐私政策  广告服务  网站地图  意见反馈  不良信息举报</p>
			</div>
		</div>
	</section>
<!-- content YDC end -->

	<script type="text/javascript" src="admin/js/jquery.min.js"></script>
	<script src="http://echarts.baidu.com/build/dist/echarts-all.js"></script>
	<script type="text/javascript">
	    var slideIndex = 0;
	    showSlides();

	    function showSlides() {
	        var i;
	        var slides = document.getElementsByClassName("mySlides");
	        for (i = 0; i < slides.length; i++) {
	            slides[i].style.display = "none";
	        }
	        slideIndex++;
	        if (slideIndex> slides.length) {slideIndex = 1}
	        slides[slideIndex-1].style.display = "block";
	        setTimeout(showSlides, 3000); // 滚动时间
	    }
	</script>

	<script type="text/javascript">
	    $(function(){
	        $('.ydc-tabPanel ul li').click(function(){
	            $(this).addClass('hit').siblings().removeClass('hit');
	            $('.ydc-panes>div:eq('+$(this).index()+')').show().siblings().hide();
	        })
	    })
	</script>
	<script type="text/javascript">
	    // 基于准备好的dom，初始化echarts图表
	    var myChart = echarts.init(document.getElementById('main'));

	    var option = {
	        tooltip: {
	            show: true
	        },
	        legend: {
	            data:['总量']
	        },
	        xAxis : [
	            {
	                type : 'category',
	                data : ["阅读","推荐","跟帖","分享","阅读总数"]
	            }
	        ],
	        yAxis : [
	            {
	                type : 'value'
	            }
	        ],
	        series : [
	            {
	                "name":"总量",
	                "type":"bar",
	                "data":[5, 20, 40, 10, 10, 20]
	            }
	        ]
	    };

	    // 为echarts对象加载数据
	    myChart.setOption(option);
	</script>

</body>
</html>